<%= form_tag(fetch_image_dogs_path(format: :json), method: "post", local: true, data: { turbo: false, controller: "dogs",  dogs_target: "form", action: "submit->dogs#submitForm" }) do %>
  <%= label_tag(:breed, "Breed") %>
  <%= text_field_tag(:breed, nil, data: {dogs_target: 'breed'}) %>
  <%= submit_tag("Submit") %>
  <div data-dogs-target="image"></div>
<% end %>

